<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameofthrones">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cover_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cover_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MusicPlaying"></activity>
        <activity android:name=".MusicContent" />
        <activity android:name=".BookDetail" />
        <activity android:name=".BookContent" />
        <activity android:name="com.example.app.BookContent" />
        <activity android:name=".WikiView" />
        <activity android:name=".FamilyItem" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>